header {
  background-color: #5BC0DE;
  padding: 1em;
  border-radius: 1em 1em 0 0;
}

header nav a {
  color: #FFFFFF;
}

.leftURL {
  float: left;
  margin-bottom: 1em;
  /*padding-left: 12%;*/
}

.rightURL {
  float: right;
  padding-left: .4em;
  padding-bottom: .4em;
}

main {
  padding-top: .8em;
}

main > section {
  /*margin: 1em auto 0 auto;*/
  padding-left: 12%;
}

h1 {
  font-size: large;
  margin: 0;
}

h2 {
  margin: 0;
  color: #DDDDDD;
  font-size: medium;
}

h3 {
  font-size: medium;
  font-weight: 500;
}

article {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  margin: .8em;
  width: 325px;
  display: inline-block;
}
.userrow{
  align: center;
}
.skillssection {
  border-top: 1px solid #DDDDDD;
  padding: .3em 0 .3em 0;
}

article::after{
  content:'';
  display: block;
  clear: both;
}

.profile img {
  width: 75px;
  float: left;
  display: block;
  margin: .5em;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}

.profile aside {
  float: left;
  padding: .2em;
  padding-top: .2em;
}

article section {
  clear: both;
}

.dot {
  height: 12px;
}

.lang {
  display: inline;
  padding-right: .4em;
}

.dotskill{
  float: right;
  padding-top: .3em;
}

.lowerskill {
  clear: both;
  border-top: 1px solid #DDDDDD;
  padding: .3em 0 .3em 0;
}

/*.upperskill {
  clear: both;
  border-top:  1px solid #ABABAB;
}*/

.talent {
  float: left;
  padding: .4em;
  margin: 0;
}

/*
.upperskill {
  border-left: 1px solid #ABABAB;
  border-right: 1px solid #ABABAB;
  border-bottom: 1px solid #ABABAB;
}

.lowerskill {
  border-left: 1px solid #ABABAB;
  border-right: 1px solid #ABABAB;
  border-bottom: 1px solid #ABABAB;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}*/
