header {
  background-color: #5BC0DE;
  padding: 1em;
}

header nav a {
  color: #FFFFFF;
}

.leftURL {
  float: left;
}

.rightURL {
  float: right;
  padding-left: .4em;
  padding-bottom: .4em;
}

main {
  padding-top: 1em;
}

main > section {
  align: center;
}

h1 {
  font-size: large;
  margin: 0;
}

h2 {
  margin: 0;
  color: #ABABAB;
  font-size: medium;
}

h3 {
  font-size: medium;
}

.profilepic {
  width: 100%;
}

article {
  border: 1px solid #ABABAB;
  border-radius: 5%;
  margin: 1em;
  width: 325px;
  display: inline-block;
}
.userrow{
  align: center;
}
.skillssection {
  border-top: 1px solid #ABABAB;
}

article::after{
  content:'';
  display: block;
  clear: both;
}

.profile img {
  width: 75px;
  float: left;
  display: block;
  padding: .5em;
}

.profile aside {
  float: left;
  padding: .2em;
  padding-top: .2em;
}

article section {
  clear: both;
}

.dot {
  display: inline;
  height: 10px;
}

.lang {
  display: inline;
  padding-right: .4em;
}

.dotskill{
  float: right;
  padding-top: .5em;
}

.lowerskill {
  clear: both;
  border-top:  1px solid #ABABAB;
}

/*.upperskill {
  clear: both;
  border-top:  1px solid #ABABAB;
}*/

.talent {
  float: left;
  padding: .4em;
  margin: 0;
}

/*
.upperskill {
  border-left: 1px solid #ABABAB;
  border-right: 1px solid #ABABAB;
  border-bottom: 1px solid #ABABAB;
}

.lowerskill {
  border-left: 1px solid #ABABAB;
  border-right: 1px solid #ABABAB;
  border-bottom: 1px solid #ABABAB;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}*/
